#Git Bash
export SERVER_ADDRESS=localhost:8080
export BASE_URL=http://localhost:8080
export FILE_STORAGE_PATH=aliases.json
export DATABASE_DSN=postgres://postgres:qwerty@localhost:5434/postgres?sslmode=disable